<section id="about">
  <h2>Resource is <i>the perfect and cozy place</i> where you can enjoy a variety of hot beverages, relax, catch up with friends, or get some work done.</h2>
  <div class="images">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</section>
