<header>
  <div class="logo" onclick="route();"></div>
  <nav>
    <ul>
      <li class="link" onclick="route('#favorite-coffee');">Favorite coffee</li>
      <li class="link" onclick="route('#about');">About</li>
      <li class="link" onclick="route('#mobile-app');">Mobile app</li>
      <li class="link"><a href="#contacts">Contact us</a></li>
    </ul>
    <div>
      <a class="menu-item link" href="./menu/">
        <span>Menu</span>
        <span class="coffee-cup"></span>
      </a>
    </div>
  </nav>
  <div class="button__burger" onclick="burgerToggle(event);"></div>
</header>
