<section class="hero">
  <div class="hero__container">
    <video autoplay muted loop>
      <source src="./assets/video(720p).webm" type="video/webm" />
    </video>
    <div class="hero__offer">
      <h1><i>Enjoy</i> premium coffee at our charming cafe</h1>
      <p>
        With its inviting atmosphere and delicious coffee options, the Coffee House Resource is a popular destination for coffee lovers and those seeking a warm
        and inviting space to enjoy their favorite beverage.
      </p>
      <a class="menu__button" href="./menu/">
        <span>Menu</span>
        <span class="coffee-cup"></span>
      </a>
    </div>
  </div>
</section>
