.modal {
  font-family: var(--r-main-font);
  font-size: var(--r-main-font-size);
  color: var(--r-main-color);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #0004;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: reveal 0.3s forwards;
}

@keyframes reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.modal p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.modal__outer {
  position: relative;
  min-width: 20em;
  background-color: #333;
  border-radius: 1em;
  padding: 1em;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4), 3px 0px 5px rgba(0, 0, 0, 0.4);
}

.modal__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal__close {
  position: absolute;
  top: 1em;
  right: 1em;
  padding: 0.5em;
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
  transition: opacity 0.25s linear;
}
.modal__close:hover {
  opacity: 0.65;
}
.modal__close img {
  margin: 0;
  width: 1.5em;
  height: 1.5em;
}
@media (prefers-color-scheme: dark) {
  .modal__close img {
    filter: invert(1);
  }
}

.hidden {
  display: none;
}

.modal__button {
  outline: none;
  border: none;
  font-size: var(--r-main-font-size);
  color: var(--r-main-color);
  background-color: var(--r-link-color-dark);
  border: 3px solid var(--r-link-color);
  transition: border 0.25s;
  padding: 0 2em;
  border-radius: 1em;
  cursor: pointer;
}
.modal__button:hover {
  border-color: var(--r-link-color-hover);
}
